<section class="mat-typography title-group">
  <h1>Projects</h1>

  <div class="project-container">
    <app-project-card
      Title="Music Converter"
      Category="Music"
      Visibility="Private">
      A tool for converting music through a web interface.
    </app-project-card>
    <app-project-card
      Title="Music Converter"
      Category="Music"
      Visibility="Private">
      A tool for converting music through a web interface.
    </app-project-card>
    <app-project-card
      Title="Music Converter"
      Category="Music"
      Visibility="Private">
      A tool for converting music through a web interface.
    </app-project-card>
  </div>

</section>
