<section class="mat-typography title-group">
  <h2>Projects</h2>

  <div class="project-container">
    <app-project-card
      Title="Music Converter"
      Category="Music"
      Visibility="Private">
      A tool for converting music through a web interface.
    </app-project-card>
    <app-project-card
      Title="Arduino Keyboard Firmware"
      Category="Mechanical Keyboards"
      Visibility="Private">
      The Arduino Keyboard firmware and associated generation tools
    </app-project-card>
    <app-project-card
      Title="Critter Generator"
      Category="Generators"
      Visibility="Private">
      Tools for generating random creatures.
    </app-project-card>
  </div>

</section>
