@import '../colors.scss';

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background: $rt-header-bg;
  height: 64px;
}

.mat-sidenav-container {
  background-color: $rt-page-bg;
}

.mat-drawer {
  background-color: $rt-page-bg;
  border: 0;
}

