<!-- Toolbar -->
<mat-toolbar color="rt-header-bg" class="header">
  <mat-toolbar-row>
  <span class="nav-tool-items" *ngIf="false">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
  <div><a href="/"><img class="brand-image" src="/assets/favicon-32x32.png" /></a></div>
  <div><a href="/" class="brand-title">Roy.Tools</a></div>

  <div class="toolbar-spacer"></div>

  <button  mat-button color="rt-fg-default">
    <mat-icon>notifications</mat-icon>
  </button>

  <button  mat-button color="rt-fg-default" [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>

  <mat-menu #menu="matMenu" class="profile-menu">
    <button mat-menu-item *ngIf="!loginDisplay" (click)="login()">
      <mat-icon>login</mat-icon>
      <span>Sign in</span>
    </button>
    <button mat-menu-item *ngIf="loginDisplay">
      <mat-icon>logout</mat-icon>
      <span>Sign out</span>
    </button>
  </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container *ngIf="false"  color="rt-page-bg">
  <!-- Sidenav -->
  <mat-sidenav  #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap]>
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
      <a mat-list-item>
        <mat-icon>person</mat-icon> User Profile
      </a>
      <a mat-list-item>
        <mat-icon>content_paste</mat-icon> Table List
      </a>
      <a mat-list-item>
        <mat-icon>library_books</mat-icon> Typography
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="content-container">
  <div class="content">
    <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
    <router-outlet *ngIf="!isIframe"></router-outlet>
  </div>
</div>

<div class="content-container">
  <div class="footer">
    <mat-divider></mat-divider>
    <ol class="footer-links">
      <li>Terms</li>
      <li>Blog</li>
      <li>About</li>
    </ol>
    <div class="copyright-container">
      <span class="copyright">© 2022 - Roy.Tools</span>
    </div>
  </div>
</div>

