<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
  <div>Roy.Tools</div>

  <div class="toolbar-spacer"></div>

  <a mat-button *ngIf="loginDisplay" [routerLink]="['music']">Music</a>

  <button mat-raised-button *ngIf="!loginDisplay" (click)="login()">Login</button>


  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap]>
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
      <a mat-list-item>
        <mat-icon>person</mat-icon> User Profile
      </a>
      <a mat-list-item>
        <mat-icon>content_paste</mat-icon> Table List
      </a>
      <a mat-list-item>
        <mat-icon>library_books</mat-icon> Typography
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>

    <div class="container">
      <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
      <router-outlet *ngIf="!isIframe"></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar color="primary" class="footer">
  <mat-toolbar-row>
   <div style="margin:0 auto;" class="mat-caption">Copyright 2020. The Brand Company.</div>
  </mat-toolbar-row>
</mat-toolbar>
