$rt-header-bg:#1b1622;
$rt-page-bg:#110d16;
$rt-primary:#a879ff;
$rt-secondary:#831fea;
$rt-info-noti-bg:rgba(147,56,253,0.15);
$rt-info-noti-border:rgba(147,56,253,0.4);
$rt-fg-default:#cfc9d9;
$rt-fg-muted:#928b9d;
$rt-fg-subtle:#766e81;
$rt-primary-link:#9d58ff;
$rt-link-emphasis:#831fea;
